.Login {
    background-color: white;
    margin: auto;
    width: 40vw;
    border-radius: 5px;
    padding: 40px;
    margin-top: 50px;
}

.hero {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
