@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #9ACEDB;
}

a:hover {
  font-weight: bold;
  color: #9ACEDB;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
}

.hero {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.expand {
  width: 100%;
}

.rounded {
  border-radius: 5px;
}

.indigo {
  background-color: #9ACEDB;
}

.button {
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 0px;
  border-radius: 5px;  
}

.text-center {
  text-align: center;
}

.modal-footer {
  padding: 0;
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.middle {
  align-items: center;
}