@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
}

.hero {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.expand {
  width: 100%;
}

.rounded {
  border-radius: 5px;
}

.indigo {
  background-color: #9ACEDB;
}

.light-pink {
  background-color: #F3D3E8;
}