@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

body {
  background-color: #ededed;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
